
<div class="b-menu">
    <ul id="category" class="category">

        <li class="category__item">

            <div class="category__content item_b">
                <span class="span-styles">Редукторы червячные (одноступенчатые универсальные) тип 2Ч (2ЧМ) <img src="../img/catalog/tick.svg" alt=""></span>
                
            </div> 

            <!-- hidden subcategories -->
            <ul class="subcategory drop-down">
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор червячный 2Ч-40</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 14 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор червячный 2Ч-63</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>  
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор червячный 2Ч-80</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
            </ul>
            <!-- hidden subcategories end-->

        </li>

        <li class="category__item">
            <div class="category__content item_b">
                <span class="span-styles">Редукторы (Ч-80, Ч-100, Ч-125, Ч-160) <img src="../img/catalog/tick.svg" alt=""></span></span> 
            </div>

            <!-- hidden subcategories -->
            <ul class="subcategory drop-down">
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч-80</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 14 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч-100</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>  
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч-125</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч-160</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
            </ul>
            <!-- hidden subcategories end-->

        </li>

        <li class="category__item">
            <div class="category__content item_b">
                <span class="span-styles">Редукторы червячные тип 1Ч (1Ч-63 1Ч-80 1Ч-125 1Ч-160) <img src="../img/catalog/tick.svg" alt=""></span></span>
            </div> 

            <!-- hidden subcategories -->
            <ul class="subcategory drop-down">
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор 1Ч-160</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 14 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор 1Ч-63А</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>  
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор 1Ч-80</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
            </ul>
            <!-- hidden subcategories end-->

        </li>

        <li class="category__item">
            <div class="category__content item_b">
            <span class="span-styles">Редукторы червячные двухступенчатые, тип Ч2 (ч2-160) <img src="../img/catalog/tick.svg" alt=""></span></span>

            </div> 

            <!-- hidden subcategories -->
            <ul class="subcategory drop-down">
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч2-160</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 14 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч2-40/100</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>  
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч2-63/160</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч2-40/63</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч2-40/80</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч2-63/100</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>  
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч2-80/125</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор Ч2-80/160</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
            </ul>
            <!-- hidden subcategories end-->

        </li>

        <li class="category__item">
            <div class="category__content item_b">
                <span class="span-styles">Червячные одноступенчатые тип РЧП / РЧН <img src="../img/catalog/tick.svg" alt=""></span></span>
            </div> 

            <!-- hidden subcategories -->
            <ul class="subcategory drop-down">
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор РЧН-180</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 14 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Редуктор РЧП-180</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>  
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>                                
            </ul>
            <!-- hidden subcategories end-->

        </li>

        <li class="category__item">
            <div class="category__content item_b">
            <span class="span-styles">Мотор редуктор <img src="../img/catalog/tick.svg" alt=""></span></span>
            </div> 

            <!-- hidden subcategories -->
            <ul class="subcategory drop-down">
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Мотор-редуктор МЧ-63</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 14 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Мотор редуктор МЧ-80</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>  
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Мотор редуктор МЧ-100</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Мотор редуктор МЧ-125</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
                <li class="subcategory__item item-subcategory">
                    <div class="item-subcategory__title-group">
                        <div class="item-subcategory__title">Мотор редуктор МЧ-160</div>
                        <a href="" class="item-subcategory__link">Подробнее</a>
                    </div>
                    <div class="item-subcategory__price">от 12 000 руб.</div>
                    <div class="btn_white popup-order">Сделать заказ</div>
                </li>
            </ul>
            <!-- hidden subcategories end-->

        </li>

    </ul> 
</div>