<div class="overlay" id="overlay-modal"></div>
<footer data-sal="slide-up" data-sal-delay="1000" data-sal-duration="1000" class="footer">
    <div class="footer__body container">
        <div class="footer__logo">Петербургский <br> <span>редукторный завод</span></div>
        <div class="footer__content">
            <nav class="footer_navigation">
                <ul class="footer__menu menu-footer">
                    <li class="menu-footer__item"><a href="index.html">Главная</a></li>
                    <li class="menu-footer__item"><a href="about.html">О компании</a></li>
                    <li class="menu-footer__item"><a href="cataloge.html">Каталог</a></li>
                    <li class="menu-footer__item"><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="footer__contacts">
                <ul class="contacts-footer__list">
                    <li class="contacts-footer__item">Адрес:<span>192102, Санкт-Петербург, Средняя ул., д.6</span></li>
                    <li class="contacts-footer__item">Телефон:<span>+7(812) 490-56-32</span></li>
                    <li class="contacts-footer__item">Телефон:<span>+7 911 123-60-60</span></li>
                    <li class="contacts-footer__item">Факс:<span>+7(812) 490-54-16</span></li>
                    <li class="contacts-footer__item">E-mail:<span>info@td-red.ru</span></li>
                </ul>
                <span class="copyright"><a href="#!">Все права защищены</a></span>                
            </div>
        </div>
    </div> 
    
</footer>
