<header class="header">   
    <div class="header__content container">         
        <div class="logo"><a href="index.html">Петербургский <br> <span>редукторный завод</span></a></div>
        <nav class="navigation__menu menu">
            <div class="menu__icon icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu__body">
                <ul class="menu__list">
                    <li><a href="index.html" class="menu__link">Главная</a></li>
                    <li><a href="about.html" class="menu__link">О компании</a></li>
                    <li><a href="cataloge.html" class="menu__link">Каталог</a></li>
                    <li><a href="contacts.html" class="menu__link">Контакты</a></li>                            
                    <li><a href="#!" class="menu__link btn_red last color_white btn-order-modal">Сделать заказ</a></li>
                    
                </ul>
            </div>                                                 
        </nav>                
    </div>    
</header>