    <div class="catalog__top">
        <div class="catalog__filter filter"><span></span><span></span><span></span></div>
        <div class="catalog__price price">
            <div class="price__text"><a href="#!">Скачать прайс-лист</a></div>
            <div class="price__image"><img src="../img/catalog/excel.svg" alt=""></div>
        </div>
        <form class="catalog__search search" action="#">
            <div class="search__item">
                <label class="search__label" for="formSearch">Поиск</label>
                <input class="search__input" type="text" name="name" placeholder="Введите название нужной модели">
                <button class="search__button" type="submit"><img src="../img/catalog/search.svg" alt=""></button>
            </div>
        </form>
    </div>