<ul class="catalog__menu">
    <li><a class="catalog__item item" href="cataloge.html">Редукторы червячные</a></li>
    <li><a class="catalog__item item" href="reduktori-chervachnie-globoidnie.html">Редукторы червячные глобоидные</a></li>
    <li><a class="catalog__item item" href="reduktory-cilindricheskie.html">Редукторы цилиндрические</a></li>
    <li><a class="catalog__item item" href="reduktory-specialnye.html">Редукторы специальные</a></li>
    <li><a class="catalog__item item" href="reduktory-konichesko-cilindricheskie.html">Редукторы коническо-цилиндрические</a></li>
    <li><a class="catalog__item item" href="reduktory-vertikalnye-kranovye.html">Редукторы вертикальные крановые</a></li>
    <li><a class="catalog__item item" href="motor-reduktory.html">Мотор-редукторы</a></li>
    <li><a class="catalog__item item" href="remont.html">Ремонт редукторов</a></li>
    <li><a class="catalog__item item" href="tormoza-kolodochnye.html">Тормоза колодочные</a></li>
    <li><a class="catalog__item item" href="lebyodki-elektricheskie.html">Лебёдки электрические</a></li>
    <li><a class="catalog__item item" href="gruzopodyomnye-mexanizmy.html">Грузоподъёмные механизмы</a></li>
    <li><a class="catalog__item item" href="mufty-muvp-i-mz.html">Муфты МУВП и МЗ</a></li>
</ul>