html {
    scroll-behavior: smooth;
}
body {
    font-family: $font-family;
    font-display: optional;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 18px;   
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.container {
    max-width: 1790px;
    margin: 0 auto;
    padding: 0px 15px;
    @media (max-width: 480px){
        padding: 0 8px;
    }
}

.title {
    font-family: $font-headers;
    font-size: 48px;
    line-height: 129%;
    text-align: center;
    color: #000000;
    @media (max-width: 767px){
        font-size: 24px;
    }
}
.sub-title { //подзаголовок
    font-family: $font-headers;
    font-size: 36px;
    line-height: 129%;
    text-align: center;
    color: #000000;
    &_red{
        color: #B92E2E;
        text-align: start;
    }
    @media (max-width: 767px){
        font-size: 20px;
    }
}

.subtitle {
    font-family: $font-family;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 129%;
    color: #000000;
    margin: 0 0 8px 0;

    @media (max-width: 767px){
        font-family: $font-headers;
        font-size: 20px;
        letter-spacing: -0.4px;
        margin: 0 0 16px 0;
    }
}

p {
    font-family: $font-family;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 129%;
    color: #000000;
    margin: 0 0 16px 0;
}
.hidden{
    z-index: 0;
    display: none;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}
.for-bottom {
    display: none;
}
input::placeholder {
    font-family: $font-family;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 129%;
    color: rgba(0, 0, 0, 0.26);    
}
@media (max-width:1130px){
    body.lock{
        overflow: hidden;
    }
    input::placeholder {
        font-size: 20px;
    }
}
@media (max-width:767px){
    .for-bottom {
        display: block;
        position: fixed;
        bottom: 0;
        height: 50px;
        width: 100vw;
    }
    input::placeholder {
        font-size: 16px;
    }
}
.btn {
    // .btn_red
    &_red{
        padding: 14px 39px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(221, 158, 158, 0) 0%, #B92E2E 100%), #B92E2E;
        box-shadow: 0px 8px 16px rgba(86, 18, 18, 0.3);
        border: 1px solid #B92E2E;
        border-radius: 40px;
        color: white;
        &:hover{
            background: radial-gradient(50% 50% at 50% 50%, rgba(221, 158, 158, 0) 0%, #942525 100%), #922525;
            box-shadow: 0px 10px 18px rgba(86, 18, 18, 0.3);
        }
    }
    // .btn_red_bottom
    &_red_bottom{
        position: fixed;
        bottom: 0;
        padding: 14px 0;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        width: 100%;
        border-radius: 40px 40px 0px 0px;
    }
    // .btn_white
    &_white {
        color: #B92E2E;
        font-family: $font-family;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        padding: 10px 20px;
        background: #FFFFFF;
        border: 1px solid #B92E2E;
        box-shadow: 0px 4px 4px rgba(186, 186, 186, 0.25);
        border-radius: 40px;
    }
    @media (max-width:1530px) {
        &_white {
        font-size: 16px;
        }
    }
    @media (max-width:1300px) {
        &_white {
        font-size: 18px;
        }
    }
}