
.form {
    padding-top: 44px;
    max-width: 100%;
    margin: 0 auto;

    // .form__body
    &__body {
        margin: 0 auto;
    }

    // .form__item
    &__item {
        width: 100%;        
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.54);
        margin-bottom: 25px; 
    }

    // .form__label
    &__label {
        position: absolute;
        left: 14px;
        top: -11px;
        background: #fff;
        padding: 0 16px 0 19px;
        font-family: $font-family;
        font-weight: 200;
        font-size: 16px;
        line-height: 129%;
        color: #B92E2E;

    }

    // .form__input
    &__input {
        height: 62px;
        padding: 0 20px;
        width: 100%;
        font-size: 18px;
    }
    textarea{
        min-height: 192px;
        resize: vertical;
        padding-top: 15px;
        font-size: 18px;
    }
    // .form__button
    &__button {
        display: block;
        margin: 0 auto;
    }
    ._error {
        box-shadow: 0 0 2px #B92E2E; //тень подсветки ошибки
    }
    @media (max-width:1590px){
        &__input {
            height: 40px;
            padding: 0 15px;
        }
        textarea{
            min-height: 100px;
        }
    }
    @media (max-width:970px){
        &__input {
            padding: 0 12px;
        }
        &__item {
            margin-bottom: 16px;
        }
        textarea{
            min-height: 80px;
        }  
    }
}